.front-menu {
    position: absolute;
    /* height: 80vh; */
    overflow-y: auto !important;
    min-width: 30rem;
    z-index: 1;
  }
  
  .front-menu-content {
    margin: 1rem;
  }
  
  .front-menu-header {
    display: flex;
  }
  
  .front-menu-header > Button {
    margin-left: auto;
  }

  .bottom-right { position:absolute; bottom:1rem; right:1rem; } 

  .plot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 700px; /* Set the maximum height of the container */
    overflow: hidden; /* Hide overflow to prevent double scrollbar */
  }
  
  .first-plot {
    flex: none; /* First plot doesn't grow or shrink */
  }
  
  .scrollable-plots {
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    max-height: 100%; /* Allow scrollable area to take remaining height */
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  