* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.full-screen {
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    position: absolute;
}

.thumbnail {
    background: rgba(230, 230, 230, 0.7);
    padding: 10px;
    border-radius: 100%;
    border: 5px solid white;
    pointer-events: all;
    transition: background-color 0.2s ease-in-out;
}

.thumbnail:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}