* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    --light-grey: #b4c7d7;
}

.full-screen {
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    position: absolute;
}

.thumbnail {
    background: rgba(230, 230, 230, 0.7);
    padding: 10px;
    border-radius: 20%;
    border: 3px solid white;
    pointer-events: all;
    transition: background-color 0.2s ease-in-out;
}

.thumbnail:hover{
    background-color: rgb(57, 117, 255);
    cursor: pointer;
}

.ifcjs-dimension-label {
    background-color: black;
    font-family: sans-serif;
    color: white;
    padding: 8px;
    border-radius: 8px;
    pointer-events: all;
    transition: background-color 200ms ease-in-out;
  }
  
  .ifcjs-dimension-label:hover {
    background-color: grey;
  }
  
  .ifcjs-dimension-preview {
    background-color: #ffffff;
    width: 2rem;
    height: 2rem;
    opacity: 0.3;
    padding: 8px;
    border-radius: 100%;
  }